[submodule "2016-07-boto3"]
	path = 2016-07-boto3
	url = git@github.com:python-frederick/2016-07-boto3.git
[submodule "2016-11-ansible"]
	path = 2016-11-ansible
	url = git@github.com:kenfusion/talks_ansible.git
[submodule "2017-02-troposphere"]
	path = 2017-02-troposphere
	url = https://github.com/python-frederick/2017-02-troposphere
[submodule "2017-07-pyspark"]
	path = 2017-07-pyspark
	url = https://github.com/python-frederick/pyspark
