[submodule "2016-07-boto3"]
	path = 2016-07-boto3
	url = git@github.com:python-frederick/2016-07-boto3.git
[submodule "2016-11-ansible"]
	path = 2016-11-ansible
	url = git@github.com:kenfusion/talks_ansible.git
