@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
    color: #034a79;
    font-family: 'Droid Sans';
}

a {
  color: #69afdd;
}

.remark-slide-content {
    /* background: linear-gradient(170deg, white, #f1f1ff); */
    background: linear-gradient(170deg, #69afdd, #ffda73);
}

.remark-slide-content h1 {
    font-size: 84px;
    font-family: 'Droid Serif';
    color: white;
}
.remark-slide-content h2 {
    color: white;
}

.hljs-default .hljs {
    background-color: white;
}

.remark-slide-content {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.remark-slide-content h4 {
    font-size: 36px;
}
.remark-slide-content p {
    font-size: 36px;
}
.remark-slide-content li {
    font-size: 36px;
}



li {
    line-height: 1.75em;
}

code {
    background-color: #f5f89c;
    padding: 6px;
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

.remark-code-line {
    font-size: 32px;
}

.remark-notes-area h4 {
    font-size: 14px;
}
.remark-notes-area p {
    font-size: 14px;
}
.remark-notes-area li {
    font-size: 14px;
}
.remark-notes-area code.remark-inline-code {
    font-size: 14px;
}
